body {
  background-color: #f5deb3; /* Cor areia */
  font-family: Arial, sans-serif;
  margin: 20px;
}

h1 {
  color: #556b2f; /* Verde musgo */
  text-align: center;
}

#mensagem {
  white-space: pre-line; /* Mantém as quebras de linha */
  font-weight: bold;
  margin-top: 10px;
}
